@font-face {
    font-family: 'Mohave';
    src: url(../fonts/mohave-bold.otf) format('opentype');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}

@media only screen and (max-width: 600px) {
    #name {
        font-size: 11vw!important;
    }
}

html {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/background.jpeg);
    color: #eee;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective-origin: 50% 50%;
    perspective: 1000px;
    -webkit-perspective: 1000;
    font-family: 'Lato', sans-serif;
}

a {
    color: #eee;
    transition: all 0.5s linear;
    text-decoration: none;
}

a:hover {
    color: unset;
}

h2 {
    font-family: 'Mohave';
}

* {
    box-sizing: border-box;
}

main {
    position: absolute;
    top: 10%;
    text-align: center;
    margin: auto;
}

#face {
    max-width: 200px;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s linear;
    opacity: 0.8;
    margin: auto;
    display: block;
}

#face:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}

#name {
    color: #577a9c;
    font-size: 5em;
    letter-spacing: 24px;
    margin: 10px -25px 10px 0;
    transition: all 0.5s linear;
    max-width: 100%;
}

#name:hover {
    color: #fe634a;
}

#desc {
    margin: auto;
    font-size: 20px;
}

#socials {
    cursor: default;
    list-style: none;
    margin-top: 0px;
    margin: auto;
    padding: 0px;
}

#socials li {
    display: inline-block;
    padding: 10px;
    font-size: 30px;
}

#mail:hover {
    color: #ea4335
}

#github:hover {
    color: #c9510c;
}

#resume:hover {
    color: #7289da
}

#linkedin:hover {
    color: #0077b5
}

#instagram:hover {
    color: #e1306c
}

#spotify:hover {
    color: #1db954;
}

#lastfm-icon:hover {
    color: #ba0000;
}

#socialsText {
    display: block;
    margin-top: -5px;
}

.album:before {
    content: url(/img/album.png);
    display: inline-block;
    margin-right: 2px;
    position: relative;
    top: 1px;
    filter: brightness(0) invert(1);
}

.listening:before {
    content: url(/img/listening.gif);
    display: inline-block;
    margin-right: 2px;
    position: relative;
    top: 1px;
}

.media-box {
    margin-top: 5px!important;
    margin-bottom: 10px!important;
    width: 50%;
    min-width: 360px;
    max-width: 450px;
    margin: auto;
    height: 116px;
    border: 1px solid #eeeeee54;
    padding: 11px;
    border-radius: 4px;
    padding-bottom: 7px;
}

.lastfm-details {
    float: right;
    text-align: right;
    max-width: 73%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 20px;
    margin-top: 3px;
    padding-right: 1px;
}

.lastfm-image {
    width: 53px;
    height: 53px;
}

.lastfm-played {
    margin: auto;
    font-size: 14px;
}

.lastfm-played > hr {
    border-color: #eeeeee9e;
    width: 90%;
    margin: auto;
    border-width: 0.5px;
}

#blog {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    letter-spacing: 5px;
    margin: 8px 3px 0px 0px;
    font-family: 'Mohave';
}

#blog:hover {
    color: #bcd380;
}

#blog i {
    padding-left: 5px;
}

#media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#media-container > div:not(:last-child) {
    margin-right: 1rem;
}
@media screen and (max-width: 726px) {
    #media-container > div:not(:last-child) {
        margin-right: 0rem;
    }
}

.movie-details {
    float: right;
    text-align: right;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 20px;
    margin-top: 4px;
    padding-right: 1px;
    font-weight: bold;
}

span {
    font-weight: normal;
}